Cython==0.28.2
catboost==0.16.3
setuptools==39.1.0
pandas==0.23.0
minepy==1.2.4
psutil==5.4.5
cryptography==2.2.2
requests==2.18.4
scipy==1.1.0
numpy==1.17.0
python_graph_core==1.8.2
pysnptools==0.3.14
scikit_learn==0.21.3
PyYAML==5.1.2
